* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

input {
  height: 20px;
}

button {
  height: 20px;
  font-size: 10px;
}

.Game-tilte {
  margin-bottom: 14px;
}

#Game-input-number {
  margin-bottom: 14px;
}
