* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

input {
  height: 20px;
  font-size: 10px;
}

button {
  height: 20px;
  font-size: 10px;
}

.Game-tilte {
  margin-bottom: 14px;
}

#Game-input-number {
  margin-bottom: 14px;
}

.Time {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(165, 42, 42, 0.95);
  flex-direction: column;
}

.Time h1,
strong {
  color: #6aa84f;
}

.Time strong {
  display: block;
  font-size: 21px;
  margin-top: 13px;
}
