* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background: skyblue;
}

div {
  font-size: 50px;
  color: #eeee;
}

.smallScreen {
  background-color: brown;
}

.mediumScreen {
  background-color: skyblue;
}

.bigScreen {
  background-color: yellow;
}
